*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent
{
height: 100vh;
border: 20px solid rgb(223, 85, 85);
align-items: stretch;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.child1 {

background: greenyellow;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height: 20%;

}
.child11 {
  height: 90%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(56, 119, 190);
} 
.logo {
  height: 100%;
  
}
.child12 {
  height: 90%;
  width: 78%;
  background: rgb(206, 101, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.child121{
  background-color: rgb(248, 248, 12);
  height: 60%;
  width:97%;
}

.child122{
  background-color: rgb(231, 112, 14);
  height: 30%;
  width: 97%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: #f11009;
  color: #00040c;
  border: none;
  height: 95%;
  width: 180px;
  margin: 10px;
  font-size: 25px;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  background-color: #ec1198;
}
.child2 {
  height: 75%;
  background: rgb(17, 129, 73);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }

.child21{
background-color: khaki;
height: 90%;
width: 18%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.child22{
background-color: rgb(70, 43, 189);
height: 90%;
width: 78%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.child221{
  background-color: lightsalmon;
  width: 97%;
  height: 31%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.child2211{
  background-color: rgb(172, 71, 212);
  height: 90%;
  width:68%;
}
.child2212{
  background-color: rgb(71, 212, 118);
  height: 90%;
  width: 28%;
}
.child222{
  background-color: lightsalmon;
  width: 97%;
  height: 31%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.child2221{
  background-color: rgb(71, 212, 118);
  height: 90%;
  width: 28%;
}
.child2222{
  background-color: rgb(172, 71, 212);
  height: 90%;
  width: 68%;
}
.child223{
  background-color: lightsalmon;
  width: 97%;
  height: 31%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.child2231{
  background-color: rgb(172, 71, 212);
  height: 90%;
  width: 68%;
}
.child2232{
  background-color: rgb(71, 212, 118);
  height: 90%;
  width: 28%;
}


  .child3 {
    background: rgb(168, 37, 92);
    flex-grow: 1;
    height: 5%;
    } 
 
  .